<b>Soundboard</b><br/>
<button type="button" onclick="javascript:playSound('hallelulja.mp3');">hallelujah</button>
<button type="button" onclick="javascript:playSound('fart.mp3');">fart</button>
<button type="button" onclick="javascript:playSound('hehe.mp3');">hehe</button>
<button type="button" onclick="javascript:playSound('hello.mp3');">hello</button>