<div>
    <img id="latestImage" class="latestImage" src="image?id=latest" alt="latest image" />
</div>
<div style='margin-top: 10px;'>
    <ul id="gallery"></ul>
</div>
<ul id="statistics">
    <li>Latest photo captured at: <span id="lastUpdate"></span></li>
    <li>Coffee left: <span id="coffeeLeft"></span></li>
    <li>Photos analyzed: <span id="photosTaken"></span></li>
</ul>