<script>
    function updateGallery() {
        var d = new Date();
        $("#latestImage").attr("src", "image?id=latest&timestamp=" + d.getTime());

        $.getJSON( "rest/statistics/latest", function( data ) {
            var items = [];
            console.log(data);
            console.log(data.gallery);
            var gallery = $("#gallery");
            gallery.empty();
            var firstImage = true;
            $.each( data.camera.images, function( key, val ) {

                if (firstImage) {
                    $("#lastUpdate").text(val.created);
                    firstImage = false;
                }

                var element = "<li class='thumbnail'><a href='" + val.url + "' target='_blank'><img class='thumbnail' src='" + val.url + "' /></a></li>";
                gallery.append(element);
            });

            $("#photosTaken").text(data.camera.photosTaken);
            $("#coffeeLeft").text(data.coffee.coffeeLeftPercentage);
        });
    }

    updateGallery();

    setInterval(function() {
        updateGallery();
    }, 2000);
</script>