#gallery li {
    padding-left: 2;
    padding-right: 2px;
    display: inline;
}

.latestImage {
    width: 640px;
    height: 480px;
}

.thumbnail {
    width: 100px;
    height: 100px;
}

#statistics {
    color: cadetblue;
    font-family: monospace;
}
