<script>
    function updateServerLog() {
        $.getJSON( "logserver/list", function( data ) {
            $("#runningSince").text(data.server.runningSince);
            var serverLog = $("#serverLog");
            serverLog.empty();
            $.each( data.server.logMessages.slice(-20), function( key, val ) {
                serverLog.prepend("<li>" + val.created + ": " + val.message + "</li>");
            });
        });
    }

    updateServerLog();

    setInterval(function() {
        updateServerLog();
    }, 5000);
</script>